<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.promotion.mapper.CtUserDrawRelMapper">
    
    <resultMap type="CtUserDrawRel" id="CtUserDrawRelResult">
        <result property="userId"    column="user_id"    />
        <result property="drawRuleId"    column="draw_rule_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCtUserDrawRelVo">
        select user_id, draw_rule_id, create_time, update_time from ct_user_draw_rel
    </sql>

    <select id="selectCtUserDrawRelList" parameterType="CtUserDrawRel" resultMap="CtUserDrawRelResult">
        <include refid="selectCtUserDrawRelVo"/>
        <where>  
            <if test="drawRuleId != null  and drawRuleId != ''"> and draw_rule_id = #{drawRuleId}</if>
        </where>
    </select>
    
    <select id="selectCtUserDrawRelByUserId" parameterType="String" resultMap="CtUserDrawRelResult">
        <include refid="selectCtUserDrawRelVo"/>
        where user_id = #{userId}
    </select>
</mapper>