<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.supervise.mapper.CtCustomerServiceMapper">

    <sql id="selectCtCustomerServiceVo">
        select id, service_id, service_name, superior_id, superior_name, dept_id, dept_name, level, max_accept_task,
        max_accept_order, accept_state, del_flag, create_time, update_time from ct_customer_service
    </sql>

    <select id="selectCtCustomerServiceList" parameterType="CtCustomerService" resultType="CtCustomerService">
        <include refid="selectCtCustomerServiceVo"/>
        <where>
            <if test="serviceId != null ">and service_id = #{serviceId}</if>
            <if test="serviceName != null  and serviceName != ''">and service_name like concat('%', #{serviceName},
                '%')
            </if>
            <if test="superiorId != null ">and superior_id = #{superiorId}</if>
            <if test="superiorName != null  and superiorName != ''">and superior_name like concat('%', #{superiorName},
                '%')
            </if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''">and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="level != null  and level != ''">and level = #{level}</if>
            <if test="maxAcceptTask != null ">and max_accept_task = #{maxAcceptTask}</if>
            <if test="maxAcceptOrder != null ">and max_accept_order = #{maxAcceptOrder}</if>
        </where>
    </select>

    <select id="selectCtCustomerServiceById" parameterType="String" resultType="CtCustomerService">
        <include refid="selectCtCustomerServiceVo"/>
        where id = #{id}
    </select>

    <select id="selectCtCustomerServiceByIds" parameterType="String" resultType="CtCustomerService">
        <include refid="selectCtCustomerServiceVo"/>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectCtCustomerServiceByServiceId" parameterType="Long" resultType="CtCustomerService">
        <include refid="selectCtCustomerServiceVo"/>
        where service_id = #{serviceId}
    </select>

    <select id="selectCtCustomerServiceListFromDept" parameterType="Long" resultType="CtCustomerService">
        select
        ju.user_id service_id,
        ju.user_name service_name,
        su.user_id superior_id,
        su.user_name superior_name,
        jd.dept_id dept_id ,
        jd.dept_name dept_name
        from
        sys_user ju
        left join sys_dept jd on
        jd.dept_id = ju.dept_id
        left join sys_dept sd on
        jd.parent_id = sd.dept_id
        left join sys_user su on
        su.user_id = jd.leader_user_id
        where
        sd.dept_id = #{deptId}
        and ju.user_id != jd.leader_user_id ;
    </select>

    <insert id="insertCtCustomerService" parameterType="CtCustomerService">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select uuid() from dual
        </selectKey>
        insert into ct_customer_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="serviceId != null">service_id,</if>
            <if test="serviceName != null">service_name,</if>
            <if test="superiorId != null">superior_id,</if>
            <if test="superiorName != null">superior_name,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="level != null">level,</if>
            <if test="maxAcceptTask != null">max_accept_task,</if>
            <if test="maxAcceptOrder != null">max_accept_order,</if>
            <if test="acceptState != null">accept_state,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="serviceId != null">#{serviceId},</if>
            <if test="serviceName != null">#{serviceName},</if>
            <if test="superiorId != null">#{superiorId},</if>
            <if test="superiorName != null">#{superiorName},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="level != null">#{level},</if>
            <if test="maxAcceptTask != null">#{maxAcceptTask},</if>
            <if test="maxAcceptOrder != null">#{maxAcceptOrder},</if>
            <if test="acceptState != null">#{acceptState},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCtCustomerService" parameterType="CtCustomerService">
        update ct_customer_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="serviceId != null">service_id = #{serviceId},</if>
            <if test="serviceName != null">service_name = #{serviceName},</if>
            <if test="superiorId != null">superior_id = #{superiorId},</if>
            <if test="superiorName != null">superior_name = #{superiorName},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="level != null">level = #{level},</if>
            <if test="maxAcceptTask != null">max_accept_task = #{maxAcceptTask},</if>
            <if test="maxAcceptOrder != null">max_accept_order = #{maxAcceptOrder},</if>
            <if test="acceptState != null">accept_state = #{acceptState},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtCustomerServiceById" parameterType="String">
        delete from ct_customer_service where id = #{id}
    </delete>

    <delete id="deleteCtCustomerServiceByIds" parameterType="String">
        delete from ct_customer_service where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>