<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.supervise.mapper.CtEventsMapper">
    <sql id="selectCtEventsVo">
        select * from ct_events
    </sql>

    <select id="selectCtEventsList" parameterType="CtEvents" resultMap="CtEventsResult">
        <include refid="selectCtEventsVo"/>
        <where>  
            <if test="eventType != null  and eventType != ''"> and event_type = #{eventType}</if>
            <if test="eventName != null  and eventName != ''"> and event_name like concat('%', #{eventName}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="sender != null  and sender != ''"> and sender = #{sender}</if>
            <if test="senderName != null  and senderName != ''"> and sender_name like concat('%', #{senderName}, '%')</if>
            <if test="receiver != null  and receiver != ''"> and receiver = #{receiver}</if>
            <if test="receiverName != null  and receiverName != ''"> and receiver_name like concat('%', #{receiverName}, '%')</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="shoppingId != null  and shoppingId != ''"> and shopping_id = #{shoppingId}</if>
            <if test="userType != null  and userType != ''"> and user_type = #{userType}</if>
            <if test="sourceType != null  and sourceType != ''"> and source_type = #{sourceType}</if>
            <if test="isStopped != null  and isStopped != ''"> and is_stopped = #{isStopped}</if>
            <if test="validDays != null "> and valid_days = #{validDays}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
        </where>
    </select>
    
    <select id="selectCtEventsById" parameterType="String" resultMap="CtEventsResult">
        <include refid="selectCtEventsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCtEvents" parameterType="CtEvents">
        insert into ct_events
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="eventType != null and eventType != ''">event_type,</if>
            <if test="subType != null and subType != ''">sub_type,</if>
            <if test="eventName != null and eventName != ''">event_name,</if>
            <if test="content != null">content,</if>
            <if test="sender != null">sender,</if>
            <if test="senderName != null">sender_name,</if>
            <if test="receiver != null">receiver,</if>
            <if test="receiverName != null">receiver_name,</if>
            <if test="taskId != null">task_id,</if>
            <if test="shoppingId != null">shopping_id,</if>
            <if test="userType != null">user_type,</if>
            <if test="sourceType != null">source_type,</if>
            <if test="isStopped != null">is_stopped,</if>
            <if test="validDays != null">valid_days,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="eventType != null and eventType != ''">#{eventType},</if>
            <if test="eventName != null and eventName != ''">#{eventName},</if>
            <if test="content != null">#{content},</if>
            <if test="sender != null">#{sender},</if>
            <if test="senderName != null">#{senderName},</if>
            <if test="receiver != null">#{receiver},</if>
            <if test="receiverName != null">#{receiverName},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="shoppingId != null">#{shoppingId},</if>
            <if test="userType != null">#{userType},</if>
            <if test="sourceType != null">#{sourceType},</if>
            <if test="isStopped != null">#{isStopped},</if>
            <if test="validDays != null">#{validDays},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateCtEvents" parameterType="CtEvents">
        update ct_events
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventType != null and eventType != ''">event_type = #{eventType},</if>
            <if test="eventName != null and eventName != ''">event_name = #{eventName},</if>
            <if test="content != null">content = #{content},</if>
            <if test="sender != null">sender = #{sender},</if>
            <if test="senderName != null">sender_name = #{senderName},</if>
            <if test="receiver != null">receiver = #{receiver},</if>
            <if test="receiverName != null">receiver_name = #{receiverName},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="shoppingId != null">shopping_id = #{shoppingId},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="isStopped != null">is_stopped = #{isStopped},</if>
            <if test="validDays != null">valid_days = #{validDays},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtEventsById" parameterType="String">
        delete from ct_events where id = #{id}
    </delete>

    <delete id="deleteCtEventsByIds" parameterType="String">
        delete from ct_events where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>