<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.supervise.mapper.CtShoppingMapper">
    <sql id="selectCtShoppingVo">
        select id,
               user_id,
               task_id,
               store_no,
               staff_code,
               shopping_type,
               desc_text,
               start_time,
               end_time,
               exceptional_state,
               is_approve,
               is_lead_approve,
               is_boss_approve,
               create_time,
               update_time,
               del_flag
        from ct_shopping
    </sql>

    <select id="selectCtShoppingList" parameterType="CtShopping" resultType="CtShopping">
        <include refid="selectCtShoppingVo"/>
        <where>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            <if test="taskId != null  and taskId != ''">and task_id = #{taskId}</if>
            <if test="storeNo != null  and storeNo != ''">and store_no = #{storeNo}</if>
            <if test="staffCode != null  and staffCode != ''">and staff_code = #{staffCode}</if>
            <if test="shoppingType != null  and shoppingType != ''">and shopping_type = #{shoppingType}</if>
            <if test="descText != null  and descText != ''">and desc_text = #{descText}</if>
            <if test="startTime != null ">and start_time = #{startTime}</if>
            <if test="endTime != null ">and end_time = #{endTime}</if>
            <if test="exceptionalState != null  and exceptionalState != ''">and exceptional_state =
                #{exceptionalState}
            </if>
            <if test="isApprove != null  and isApprove != ''">and is_approve = #{isApprove}</if>
            <if test="isLeadApprove != null  and isLeadApprove != ''">and is_lead_approve = #{isLeadApprove}</if>
            <if test="isBossApprove != null  and isBossApprove != ''">and is_boss_approve = #{isBossApprove}</if>
        </where>
    </select>

    <select id="selectCtShoppingById" parameterType="String" resultType="CtShopping">
        <include refid="selectCtShoppingVo"/>
        where id = #{id}
    </select>

    <insert id="insertCtShopping" parameterType="CtShopping">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select uuid() from dual
        </selectKey>
        insert into ct_shopping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="userId != null">user_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="storeNo != null">store_no,</if>
            <if test="staffCode != null">staff_code,</if>
            <if test="shoppingType != null">shopping_type,</if>
            <if test="descText != null">desc_text,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="exceptionalState != null">exceptional_state,</if>
            <if test="isApprove != null">is_approve,</if>
            <if test="isLeadApprove != null">is_lead_approve,</if>
            <if test="isBossApprove != null">is_boss_approve,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="userId != null">#{userId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="storeNo != null">#{storeNo},</if>
            <if test="staffCode != null">#{staffCode},</if>
            <if test="shoppingType != null">#{shoppingType},</if>
            <if test="descText != null">#{descText},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="exceptionalState != null">#{exceptionalState},</if>
            <if test="isApprove != null">#{isApprove},</if>
            <if test="isLeadApprove != null">#{isLeadApprove},</if>
            <if test="isBossApprove != null">#{isBossApprove},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateCtShopping" parameterType="CtShopping">
        update ct_shopping
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="storeNo != null">store_no = #{storeNo},</if>
            <if test="staffCode != null">staff_code = #{staffCode},</if>
            <if test="shoppingType != null">shopping_type = #{shoppingType},</if>
            <if test="descText != null">desc_text = #{descText},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="exceptionalState != null">exceptional_state = #{exceptionalState},</if>
            <if test="isApprove != null">is_approve = #{isApprove},</if>
            <if test="isLeadApprove != null">is_lead_approve = #{isLeadApprove},</if>
            <if test="isBossApprove != null">is_boss_approve = #{isBossApprove},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtShoppingById" parameterType="String">
        delete
        from ct_shopping
        where id = #{id}
    </delete>

    <delete id="deleteCtShoppingByIds" parameterType="String">
        delete from ct_shopping where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>