<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.supervise.mapper.CtTaskMapper">
    
    <resultMap type="CtTask" id="CtTaskResult">
        <result property="id"    column="id"    />
        <result property="taskCode"    column="task_code"    />
        <result property="storeNo"    column="store_no"    />
        <result property="staffCode"    column="staff_code"    />
        <result property="remark"    column="remark"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="isExceptional"    column="is_exceptional"    />
        <result property="doorLogCode"    column="door_log_code"    />
        <result property="supeviseArea"    column="supevise_area"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectCtTaskVo">
        select id, task_code, store_no, staff_code, remark, start_time, end_time, is_exceptional, door_log_code, supevise_area, state, create_time, update_time, del_flag from ct_task
    </sql>

    <select id="selectCtTaskList" parameterType="CtTask" resultMap="CtTaskResult">
        <include refid="selectCtTaskVo"/>
        <where>  
            <if test="taskCode != null  and taskCode != ''"> and task_code = #{taskCode}</if>
            <if test="storeNo != null  and storeNo != ''"> and store_no = #{storeNo}</if>
            <if test="staffCode != null  and staffCode != ''"> and staff_code = #{staffCode}</if>
            <if test="isExceptional != null  and isExceptional != ''"> and is_exceptional = #{isExceptional}</if>
            <if test="supeviseArea != null  and supeviseArea != ''"> and supevise_area = #{supeviseArea}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
        </where>
    </select>
    
    <select id="selectCtTaskById" parameterType="Long" resultMap="CtTaskResult">
        <include refid="selectCtTaskVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCtTask" parameterType="CtTask" useGeneratedKeys="true" keyProperty="id">
        insert into ct_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskCode != null">task_code,</if>
            <if test="storeNo != null">store_no,</if>
            <if test="staffCode != null">staff_code,</if>
            <if test="remark != null">remark,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="isExceptional != null">is_exceptional,</if>
            <if test="doorLogCode != null">door_log_code,</if>
            <if test="supeviseArea != null">supevise_area,</if>
            <if test="state != null">state,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskCode != null">#{taskCode},</if>
            <if test="storeNo != null">#{storeNo},</if>
            <if test="staffCode != null">#{staffCode},</if>
            <if test="remark != null">#{remark},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="isExceptional != null">#{isExceptional},</if>
            <if test="doorLogCode != null">#{doorLogCode},</if>
            <if test="supeviseArea != null">#{supeviseArea},</if>
            <if test="state != null">#{state},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateCtTask" parameterType="CtTask">
        update ct_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskCode != null">task_code = #{taskCode},</if>
            <if test="storeNo != null">store_no = #{storeNo},</if>
            <if test="staffCode != null">staff_code = #{staffCode},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="isExceptional != null">is_exceptional = #{isExceptional},</if>
            <if test="doorLogCode != null">door_log_code = #{doorLogCode},</if>
            <if test="supeviseArea != null">supevise_area = #{supeviseArea},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtTaskById" parameterType="Long">
        delete from ct_task where id = #{id}
    </delete>

    <delete id="deleteCtTaskByIds" parameterType="String">
        delete from ct_task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>