<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.resources.mapper.CtMediaTemplateMapper">

    <sql id="selectCtMediaTemplateVo">
        select
        t.id,
        t.template_name,
        t.create_time,
        t.media_id,
        m.oss_link,
        t.update_time,
        t.del_flag
        from ct_media_template t
        left join ct_media m on t.media_id = m.id
    </sql>

    <select id="selectCtMediaTemplateList" parameterType="CtMediaTemplate" resultType="CtMediaTemplate">
        <include refid="selectCtMediaTemplateVo"/>
        <where>
            <if test="templateName != null  and templateName != ''">and t.template_name like concat('%',
                #{templateName},
                '%')
            </if>
            <if test="mediaId != null  and mediaId != ''">and t.media_id = #{mediaId}</if>
        </where>
    </select>

    <select id="selectCtMediaTemplateById" parameterType="String" resultType="CtMediaTemplate">
        <include refid="selectCtMediaTemplateVo"/>
        where t.id = #{id}
    </select>

    <insert id="insertCtMediaTemplate" parameterType="CtMediaTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into ct_media_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mediaId != null">media_id,</if>
            <if test="templateName != null">template_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mediaId != null">#{mediaId},</if>
            <if test="templateName != null">#{templateName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateCtMediaTemplate" parameterType="CtMediaTemplate">
        update ct_media_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="mediaId != null">media_id = #{mediaId},</if>
            <if test="templateName != null">template_name = #{templateName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtMediaTemplateById" parameterType="String">
        delete
        from ct_media_template
        where id = #{id}
    </delete>

    <delete id="deleteCtMediaTemplateByIds" parameterType="String">
        delete from ct_media_template where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>