<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.account.mapper.CtAgentActivityRewardMapper">
    
    <resultMap type="CtAgentActivityReward" id="CtAgentActivityRewardResult">
        <result property="id"    column="id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="userId"    column="user_id"    />
        <result property="storeCount"    column="store_count"    />
        <result property="rewardMoney"    column="reward_money"    />
        <result property="settleTimes"    column="settle_times"    />
        <result property="platformApprovedTime"    column="platform_approved_time"    />
        <result property="agentApprovedTime"    column="agent_approved_time"    />
        <result property="isFulfilled"    column="is_fulfilled"    />
        <result property="isAgentOk"    column="is_agent_ok"    />
        <result property="isPlatformOk"    column="is_platform_ok"    />
        <result property="state"    column="state"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="operator"    column="operator"    />
        <result property="remark"    column="remark"    />
        <result property="createDate"    column="create_date"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCtAgentActivityRewardVo">
        select id, activity_id, user_id, store_count, reward_money, settle_times, platform_approved_time, agent_approved_time, is_fulfilled, is_agent_ok, is_platform_ok, state, del_flag, operator, remark, create_date, create_time, update_time from ct_agent_activity_reward
    </sql>

    <select id="selectCtAgentActivityRewardList" parameterType="CtAgentActivityReward" resultMap="CtAgentActivityRewardResult">
        <include refid="selectCtAgentActivityRewardVo"/>
        <where>  
            <if test="activityId != null  and activityId != ''"> and activity_id = #{activityId}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            and del_flag = '0'
        </where>
    </select>
    
    <select id="selectCtAgentActivityRewardById" parameterType="String" resultMap="CtAgentActivityRewardResult">
        <include refid="selectCtAgentActivityRewardVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCtAgentActivityReward" parameterType="CtAgentActivityReward">
        insert into ct_agent_activity_reward
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="activityId != null and activityId != ''">activity_id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="storeCount != null">store_count,</if>
            <if test="rewardMoney != null">reward_money,</if>
            <if test="settleTimes != null">settle_times,</if>
            <if test="platformApprovedTime != null">platform_approved_time,</if>
            <if test="agentApprovedTime != null">agent_approved_time,</if>
            <if test="isFulfilled != null">is_fulfilled,</if>
            <if test="isAgentOk != null">is_agent_ok,</if>
            <if test="isPlatformOk != null">is_platform_ok,</if>
            <if test="state != null">state,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="operator != null">operator,</if>
            <if test="remark != null">remark,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="activityId != null and activityId != ''">#{activityId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="storeCount != null">#{storeCount},</if>
            <if test="rewardMoney != null">#{rewardMoney},</if>
            <if test="settleTimes != null">#{settleTimes},</if>
            <if test="platformApprovedTime != null">#{platformApprovedTime},</if>
            <if test="agentApprovedTime != null">#{agentApprovedTime},</if>
            <if test="isFulfilled != null">#{isFulfilled},</if>
            <if test="isAgentOk != null">#{isAgentOk},</if>
            <if test="isPlatformOk != null">#{isPlatformOk},</if>
            <if test="state != null">#{state},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="operator != null">#{operator},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCtAgentActivityReward" parameterType="CtAgentActivityReward">
        update ct_agent_activity_reward
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityId != null and activityId != ''">activity_id = #{activityId},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="storeCount != null">store_count = #{storeCount},</if>
            <if test="rewardMoney != null">reward_money = #{rewardMoney},</if>
            <if test="settleTimes != null">settle_times = #{settleTimes},</if>
            <if test="platformApprovedTime != null">platform_approved_time = #{platformApprovedTime},</if>
            <if test="agentApprovedTime != null">agent_approved_time = #{agentApprovedTime},</if>
            <if test="isFulfilled != null">is_fulfilled = #{isFulfilled},</if>
            <if test="isAgentOk != null">is_agent_ok = #{isAgentOk},</if>
            <if test="isPlatformOk != null">is_platform_ok = #{isPlatformOk},</if>
            <if test="state != null">state = #{state},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtAgentActivityRewardById" parameterType="String">
        update ct_agent_activity_reward
        set del_flag = '1'
        where id = #{id}
    </delete>

    <delete id="deleteCtAgentActivityRewardByIds" parameterType="String">
        update ct_agent_activity_reward
        set del_flag = '1'
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
