<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.account.mapper.CtAgentActivity1Mapper">
    <sql id="selectCtAgentActivity1Vo">
        select * from ct_agent_activity1
    </sql>

    <select id="selectCtAgentActivity1List" parameterType="CtAgentActivity1" resultMap="CtAgentActivity1Result">
        <include refid="selectCtAgentActivity1Vo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="storeCount != null "> and store_count = #{storeCount}</if>
            <if test="rewardMoney != null "> and reward_money = #{rewardMoney}</if>
            <if test="taxRatio != null "> and tax_ratio = #{taxRatio}</if>
            <if test="timeSpan != null "> and time_span = #{timeSpan}</if>
            <if test="operator != null  and operator != ''"> and operator = #{operator}</if>
            <if test="isEnabled != null  and isEnabled != ''"> and is_enabled = #{isEnabled}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectCtAgentActivity1ById" parameterType="String" resultMap="CtAgentActivity1Result">
        <include refid="selectCtAgentActivity1Vo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCtAgentActivity1" parameterType="CtAgentActivity1">
        insert into ct_agent_activity1
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="storeCount != null">store_count,</if>
            <if test="rewardMoney != null">reward_money,</if>
            <if test="taxRatio != null">tax_ratio,</if>
            <if test="timeSpan != null">time_span,</if>
            <if test="operator != null">operator,</if>
            <if test="isEnabled != null and isEnabled != ''">is_enabled,</if>
            <if test="state != null and state != ''">state,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="storeCount != null">#{storeCount},</if>
            <if test="rewardMoney != null">#{rewardMoney},</if>
            <if test="taxRatio != null">#{taxRatio},</if>
            <if test="timeSpan != null">#{timeSpan},</if>
            <if test="operator != null">#{operator},</if>
            <if test="isEnabled != null and isEnabled != ''">#{isEnabled},</if>
            <if test="state != null and state != ''">#{state},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCtAgentActivity1" parameterType="CtAgentActivity1">
        update ct_agent_activity1
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="storeCount != null">store_count = #{storeCount},</if>
            <if test="rewardMoney != null">reward_money = #{rewardMoney},</if>
            <if test="taxRatio != null">tax_ratio = #{taxRatio},</if>
            <if test="timeSpan != null">time_span = #{timeSpan},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="isEnabled != null and isEnabled != ''">is_enabled = #{isEnabled},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtAgentActivity1ById" parameterType="String">
        delete from ct_agent_activity1 where id = #{id}
    </delete>

    <delete id="deleteCtAgentActivity1ByIds" parameterType="String">
        delete from ct_agent_activity1 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>