<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.account.mapper.CtUserAssetsBookMapper">
    
    <resultMap type="CtUserAssetsBook" id="CtUserAssetsBookResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="cardId"    column="card_id"    />
        <result property="bookType"    column="book_type"    />
        <result property="operateType"    column="operate_type"    />
        <result property="assetsType"    column="assets_type"    />
        <result property="beforeAmount"    column="before_amount"    />
        <result property="alterAmount"    column="alter_amount"    />
        <result property="amount"    column="amount"    />
        <result property="createDate"    column="create_date"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCtUserAssetsBookVo">
        select id, user_id, card_id, book_type, operate_type, assets_type, before_amount, alter_amount, amount, create_date, create_time, update_time, del_flag, remark from ct_user_assets_book
    </sql>

    <select id="selectCtUserAssetsBookList" parameterType="CtUserAssetsBook" resultMap="CtUserAssetsBookResult">
        <include refid="selectCtUserAssetsBookVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="bookType != null  and bookType != ''"> and book_type = #{bookType}</if>
            <if test="operateType != null  and operateType != ''"> and operate_type = #{operateType}</if>
            <if test="assetsType != null  and assetsType != ''"> and assets_type = #{assetsType}</if>
        </where>
    </select>
    
    <select id="selectCtUserAssetsBookById" parameterType="String" resultMap="CtUserAssetsBookResult">
        <include refid="selectCtUserAssetsBookVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCtUserAssetsBook" parameterType="CtUserAssetsBook">
        insert into ct_user_assets_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="cardId != null">card_id,</if>
            <if test="bookType != null">book_type,</if>
            <if test="operateType != null">operate_type,</if>
            <if test="assetsType != null">assets_type,</if>
            <if test="beforeAmount != null">before_amount,</if>
            <if test="alterAmount != null">alter_amount,</if>
            <if test="amount != null">amount,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="cardId != null">#{cardId},</if>
            <if test="bookType != null">#{bookType},</if>
            <if test="operateType != null">#{operateType},</if>
            <if test="assetsType != null">#{assetsType},</if>
            <if test="beforeAmount != null">#{beforeAmount},</if>
            <if test="alterAmount != null">#{alterAmount},</if>
            <if test="amount != null">#{amount},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCtUserAssetsBook" parameterType="CtUserAssetsBook">
        update ct_user_assets_book
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="cardId != null">card_id = #{cardId},</if>
            <if test="bookType != null">book_type = #{bookType},</if>
            <if test="operateType != null">operate_type = #{operateType},</if>
            <if test="assetsType != null">assets_type = #{assetsType},</if>
            <if test="beforeAmount != null">before_amount = #{beforeAmount},</if>
            <if test="alterAmount != null">alter_amount = #{alterAmount},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtUserAssetsBookById" parameterType="String">
        delete from ct_user_assets_book where id = #{id}
    </delete>

    <delete id="deleteCtUserAssetsBookByIds" parameterType="String">
        delete from ct_user_assets_book where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>