<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.account.mapper.CtUserAgentMapper">
    <resultMap id="StoreAndCommissionResult" type="StoreAndCommission">
        <association property="store" javaType="CtStore">
            <result property="id"    column="store_id"    />
            <result property="name"    column="store_name"    />
            <result property="address"    column="store_address"    />
            <result property="shortAddress"    column="store_short_address"    />
            <result property="storeNo"    column="store_store_no"    />
            <result property="regionCode"    column="store_region_code"    />
            <result property="longitude"    column="store_longitude"    />
            <result property="latitude"    column="store_latitude"    />
            <result property="photoUrl"    column="store_photo_url"    />
            <result property="area"    column="store_area"    />
            <result property="contactName"    column="store_contact_name"    />
            <result property="contactPhone"    column="store_contact_phone"    />
            <result property="saleAmount"    column="store_sale_amount"    />
            <result property="maxBuyPerson"    column="store_max_buy_person"    />
            <result property="isSupervise"    column="store_is_supervise"    />
            <result property="buildState"    column="store_build_state"    />
            <result property="state"    column="store_state"    />
            <result property="bossId"    column="store_boss_id"    />
            <result property="agentId"    column="store_agent_id"    />
            <result property="storeOnlineDate"    column="store_store_online_date"    />
            <result property="storeOnlineTime"    column="store_store_online_time"    />
            <result property="merchantSn"    column="store_merchant_sn"    />
            <result property="storeSn"    column="store_store_sn"    />
            <result property="delFlag"    column="store_del_flag"    />
            <result property="createDate"    column="store_create_date"    />
            <result property="createTime"    column="store_create_time"    />
            <result property="updateTime"    column="store_update_time"    />
        </association>
        <association property="commission" javaType="CtAgentCommissionSettlement">
            <result property="id"    column="commission_id"    />
            <result property="storeId"    column="commission_store_id"    />
            <result property="userId"    column="commission_user_id"    />
            <result property="costPrice"    column="commission_cost_price"    />
            <result property="isAgentOk"    column="commission_is_agent_ok"    />
            <result property="isPlatformOk"    column="commission_is_platform_ok"    />
            <result property="state"    column="commission_state"    />
            <result property="remark"    column="commission_remark"    />
            <result property="delFlag"    column="commission_del_flag"    />
            <result property="platformApprovedTime"    column="commission_platform_approved_time"    />
            <result property="agentApprovedTime"    column="commission_agent_approved_time"    />
            <result property="createDate"    column="commission_create_date"    />
            <result property="createTime"    column="commission_create_time"    />
            <result property="updateTime"    column="commission_update_time"    />
        </association>
    </resultMap>

    <sql id="selectCtUserAgentVo">
        select user_id, nick_name, agent_type, parent_user_id, agent_area, cash_amount, total_withdrawal, total_sales_reward, total_dividend, total_activity_reward, total_tributes, remark, create_date, create_time, update_time, del_flag from ct_user_agent
    </sql>

    <select id="selectCtUserAgentList" parameterType="CtUserAgent" resultMap="CtUserAgentResult">
        <include refid="selectCtUserAgentVo"/>
        <where>  
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="agentType != null  and agentType != ''"> and agent_type = #{agentType}</if>
            <if test="parentUserId != null  and parentUserId != ''"> and parent_user_id = #{parentUserId}</if>
            <if test="agentArea != null  and agentArea != ''"> and agent_area = #{agentArea}</if>
            <if test="cashAmount != null "> and cash_amount = #{cashAmount}</if>
            <if test="totalWithdrawal != null "> and total_withdrawal = #{totalWithdrawal}</if>
            <if test="totalSalesReward != null "> and total_sales_reward = #{totalSalesReward}</if>
            <if test="totalDividend != null "> and total_dividend = #{totalDividend}</if>
            <if test="totalActivityReward != null "> and total_activity_reward = #{totalActivityReward}</if>
            <if test="totalTributes != null "> and total_tributes = #{totalTributes}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
        </where>
    </select>

    <select id="selectCtAgentShopList" parameterType="AgentStoreRequest" resultMap="StoreAndCommissionResult">
        select
        store.id                             as store_id,
        store.name                           as store_name,
        store.address                        as store_address,
        store.short_address                  as store_short_address,
        store.store_no                       as store_store_no,
        store.region_code                    as store_region_code,
        store.longitude                      as store_longitude,
        store.latitude                       as store_latitude,
        store.photo_url                      as store_photo_url,
        store.area                           as store_area,
        store.contact_name                   as store_contact_name,
        store.contact_phone                  as store_contact_phone,
        store.sale_amount                    as store_sale_amount,
        store.max_buy_person                 as store_max_buy_person,
        store.is_supervise                   as store_is_supervise,
        store.supervise_log_id               as store_supervise_log_id,
        store.build_state                    as store_build_state,
        store.state                          as store_state,
        store.boss_id                        as store_boss_id,
        store.agent_id                       as store_agent_id,
        store.store_online_date              as store_store_online_date,
        store.store_online_time              as store_store_online_time,
        store.merchant_sn                    as store_merchant_sn,
        store.store_sn                       as store_store_sn,
        store.del_flag                       as store_del_flag,
        store.create_date                    as store_create_date,
        store.create_time                    as store_create_time,
        store.update_time                    as store_update_time,
        commission.id                        as commission_id,
        commission.store_id                  as commission_store_id,
        commission.user_id                   as commission_user_id,
        commission.cost_price                as commission_cost_price,
        commission.is_agent_ok               as commission_is_agent_ok,
        commission.is_platform_ok            as commission_is_platform_ok,
        commission.state                     as commission_state,
        commission.remark                    as commission_remark,
        commission.del_flag                  as commission_del_flag,
        commission.platform_approved_time    as commission_platform_approved_time,
        commission.agent_approved_time       as commission_agent_approved_time,
        commission.create_date               as commission_create_date,
        commission.create_time               as commission_create_time,
        commission.update_time               as commission_update_time
        from ct_store store, ct_agent_commission_settlement commission
        <where>
        store.agent_id in (
            select user_id
            from  ct_user_agent
            where user_id = #{userId}
            or parent_user_id = #{userId}
        )
        <if test="buildState != null  and buildState != ''"> and store.build_state = #{buildState}</if>
        <if test="storeName != null  and storeName != ''"> and store.name like concat('%', #{storeName}, '%')</if>
        and store.id = commission.store_id
        and commission.user_id = #{userId}
        </where>
        order by store.create_date desc
    </select>

    <select id="selectCtUserAgentByUserId" parameterType="String" resultMap="CtUserAgentResult">
        <include refid="selectCtUserAgentVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertCtUserAgent" parameterType="CtUserAgent">
        insert into ct_user_agent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="agentType != null and agentType != ''">agent_type,</if>
            <if test="parentUserId != null">parent_user_id,</if>
            <if test="agentArea != null">agent_area,</if>
            <if test="cashAmount != null">cash_amount,</if>
            <if test="totalWithdrawal != null">total_withdrawal,</if>
            <if test="totalSalesReward != null">total_sales_reward,</if>
            <if test="totalDividend != null">total_dividend,</if>
            <if test="totalActivityReward != null">total_activity_reward,</if>
            <if test="totalTributes != null">total_tributes,</if>
            <if test="remark != null">remark,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="agentType != null and agentType != ''">#{agentType},</if>
            <if test="parentUserId != null">#{parentUserId},</if>
            <if test="agentArea != null">#{agentArea},</if>
            <if test="cashAmount != null">#{cashAmount},</if>
            <if test="totalWithdrawal != null">#{totalWithdrawal},</if>
            <if test="totalSalesReward != null">#{totalSalesReward},</if>
            <if test="totalDividend != null">#{totalDividend},</if>
            <if test="totalActivityReward != null">#{totalActivityReward},</if>
            <if test="totalTributes != null">#{totalTributes},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateCtUserAgent" parameterType="CtUserAgent">
        update ct_user_agent
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="agentType != null and agentType != ''">agent_type = #{agentType},</if>
            <if test="parentUserId != null">parent_user_id = #{parentUserId},</if>
            <if test="agentArea != null">agent_area = #{agentArea},</if>
            <if test="cashAmount != null">cash_amount = #{cashAmount},</if>
            <if test="totalWithdrawal != null">total_withdrawal = #{totalWithdrawal},</if>
            <if test="totalSalesReward != null">total_sales_reward = #{totalSalesReward},</if>
            <if test="totalDividend != null">total_dividend = #{totalDividend},</if>
            <if test="totalActivityReward != null">total_activity_reward = #{totalActivityReward},</if>
            <if test="totalTributes != null">total_tributes = #{totalTributes},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <update id="cashWithdrawCtUserAgent" parameterType="CtUserAgent">
        update ct_user_agent
        <trim prefix="SET" suffixOverrides=",">
            <if test="cashAmount != null">cash_amount = #{cashAmount},</if>
            <if test="totalWithdrawal != null">total_withdrawal = #{totalWithdrawal},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteCtUserAgentByUserId" parameterType="String">
        delete from ct_user_agent where user_id = #{userId}
    </delete>

    <delete id="deleteCtUserAgentByUserIds" parameterType="String">
        delete from ct_user_agent where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>
