<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.account.mapper.CtUserMapper">
    <sql id="selectCtUserVo">
        select id,
               account,
               password,
               wx_open_id,
               wx_union_id,
               mobile,
               nick_name,
               real_name,
               sex,
               birthday,
               is_real,
               violation_count,
               id_no,
               register_store_id,
               is_agent,
               is_shop_boss,
               last_login_ip,
               last_login_time,
               create_boss_time,
               create_agent_time,
               agent_state,
               agent_type,
               boss_state,
               customer_state,
               operator,
               create_date,
               create_time,
               update_time,
               del_flag
        from ct_user
    </sql>

    <select id="selectCtUserList" parameterType="CtUser"
            resultType="CtUser">
        <include refid="selectCtUserVo"/>
        <where>
            <if test="account != null  and account != ''">and account = #{account}</if>
            <if test="password != null  and password != ''">and password = #{password}</if>
            <if test="wxOpenId != null  and wxOpenId != ''">and wx_open_id = #{wxOpenId}</if>
            <if test="wxUnionId != null  and wxUnionId != ''">and wx_union_id = #{wxUnionId}</if>
            <if test="mobile != null  and mobile != ''">and mobile = #{mobile}</if>
            <if test="realName != null  and realName != ''">and real_name like concat('%', #{realName}, '%')</if>
            <if test="sex != null  and sex != ''">and sex = #{sex}</if>
            <if test="birthday != null ">and birthday = #{birthday}</if>
            <if test="isReal != null  and isReal != ''">and is_real = #{isReal}</if>
            <if test="violationCount != null ">and violation_count = #{violationCount}</if>
            <if test="isAgent != null  and isAgent != ''">and is_agent = #{isAgent}</if>
            <if test="isShopBoss != null  and isShopBoss != ''">and is_shop_boss = #{isShopBoss}</if>
            <if test="agentState != null  and agentState != ''">and agent_state = #{agentState}</if>
            <if test="agentType != null  and agentType != ''">and agent_type = #{agentType}</if>
            <if test="bossState != null  and bossState != ''">and boss_state = #{bossState}</if>
            <if test="customerState != null  and customerState != ''">and customer_state = #{customerState}</if>
            <if test="operator != null  and operator != ''">and operator = #{operator}</if>
            <if test="createDate != null ">and create_date = #{createDate}</if>
        </where>
    </select>

    <select id="selectCtUserById" parameterType="String" resultType="CtUser">
        <include refid="selectCtUserVo"/>
        where id = #{id}
    </select>

    <select id="selectCtUserByAccount" parameterType="String" resultType="CtUser">
        <include refid="selectCtUserVo"/>
        where account = #{account}
    </select>

    <select id="selectCtUserByWxOpenId" parameterType="String" resultType="CtUser">
        <include refid="selectCtUserVo"/>
        where wx_open_id = #{wxOpenId}
    </select>

    <select id="selectCtUserByWxUnionId" parameterType="String" resultType="CtUser">
        <include refid="selectCtUserVo"/>
        where wx_union_id = #{wxUnionId}
    </select>
    <select id="selectCtUserByMobile" parameterType="String" resultType="CtUser">
        <include refid="selectCtUserVo"/>
        where mobile = #{mobile}
    </select>

    <insert id="insertCtUser" parameterType="CtUser">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select uuid() from dual
        </selectKey>
        insert into ct_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <if test="wxOpenId != null">wx_open_id,</if>
            <if test="wxUnionId != null">wx_union_id,</if>
            <if test="mobile != null">mobile,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="realName != null">real_name,</if>
            <if test="sex != null">sex,</if>
            <if test="birthday != null">birthday,</if>
            <if test="isReal != null">is_real,</if>
            <if test="violationCount != null">violation_count,</if>
            <if test="idNo != null">id_no,</if>
            <if test="isAgent != null">is_agent,</if>
            <if test="isShopBoss != null">is_shop_boss,</if>
            <if test="lastLoginIp != null">last_login_ip,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="createBossTime != null">create_boss_time,</if>
            <if test="createAgentTime != null">create_agent_time,</if>
            <if test="agentState != null">agent_state,</if>
            <if test="agentType != null">agent_type,</if>
            <if test="bossState != null">boss_state,</if>
            <if test="customerState != null">customer_state,</if>
            <if test="operator != null">operator,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <if test="wxOpenId != null">#{wxOpenId},</if>
            <if test="wxUnionId != null">#{wxUnionId},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="realName != null">#{realName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="isReal != null">#{isReal},</if>
            <if test="violationCount != null">#{violationCount},</if>
            <if test="idNo != null">#{idNo},</if>
            <if test="isAgent != null">#{isAgent},</if>
            <if test="isShopBoss != null">#{isShopBoss},</if>
            <if test="lastLoginIp != null">#{lastLoginIp},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="createBossTime != null">#{createBossTime},</if>
            <if test="createAgentTime != null">#{createAgentTime},</if>
            <if test="agentState != null">#{agentState},</if>
            <if test="agentType != null">#{agentType},</if>
            <if test="bossState != null">#{bossState},</if>
            <if test="customerState != null">#{customerState},</if>
            <if test="operator != null">#{operator},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>

    </insert>

    <update id="updateCtUser" parameterType="CtUser">
        update ct_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="wxOpenId != null">wx_open_id = #{wxOpenId},</if>
            <if test="wxUnionId != null">wx_open_id = #{wxUnionId},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="isReal != null">is_real = #{isReal},</if>
            <if test="violationCount != null">violation_count = #{violationCount},</if>
            <if test="idNo != null">id_no = #{idNo},</if>
            <if test="isAgent != null">is_agent = #{isAgent},</if>
            <if test="isShopBoss != null">is_shop_boss = #{isShopBoss},</if>
            <if test="lastLoginIp != null">last_login_ip = #{lastLoginIp},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="createBossTime != null">create_boss_time = #{createBossTime},</if>
            <if test="createAgentTime != null">create_agent_time = #{createAgentTime},</if>
            <if test="agentState != null">agent_state = #{agentState},</if>
            <if test="agentType != null">agent_type = #{agentType},</if>
            <if test="bossState != null">boss_state = #{bossState},</if>
            <if test="customerState != null">customer_state = #{customerState},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtUserById" parameterType="Long">
        delete
        from ct_user
        where id = #{id}
    </delete>

    <delete id="deleteCtUserByIds" parameterType="String">
        delete from ct_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>