<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.agent.mapper.CtAgentCommissionSettlementMapper">
    <sql id="selectCtAgentCommissionSettlementVo">
        select * from ct_agent_commission_settlement
    </sql>

    <select id="selectCtAgentCommissionSettlementList" parameterType="CtAgentCommissionSettlement" resultMap="CtAgentCommissionSettlementResult">
        <include refid="selectCtAgentCommissionSettlementVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="verifyState != null  and verifyState != ''"> and verify_state = #{verifyState}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            and del_flag = '0'
        </where>
    </select>


    <select id="selectCtAgentCommissionSettlementListPlus" parameterType="CtAgentCommissionSettlement" resultType="CtAgentCommissionSettlementDto">
        SELECT
        cc.*,
        u.account AS user_account,
        uu.account AS parent_user_account,
        s.`name`
        FROM
        ct_agent_commission_settlement cc
        LEFT JOIN ct_user u ON u.id = cc.user_id
        LEFT JOIN ct_user uu ON uu.id = cc.parent_user_id
        LEFT JOIN ct_store s ON s.id = cc.store_id
        <where>
            <if test="userId != null  and userId != ''">and cc.user_id = #{userId}</if>
            <if test="verifyState != null  and verifyState != ''">and cc.verify_state = #{verifyState}</if>
            <if test="state != null  and state != ''">and cc.state = #{state}</if>
            and cc.del_flag = '0'
        </where>
    </select>


    
    <select id="selectCtAgentCommissionSettlementById" parameterType="String" resultMap="CtAgentCommissionSettlementResult">
        <include refid="selectCtAgentCommissionSettlementVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCtAgentCommissionSettlement" parameterType="CtAgentCommissionSettlement">
        insert into ct_agent_commission_settlement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="systemPrice != null">system_price,</if>
            <if test="settleTime != null">settle_time,</if>
            <if test="verifyState != null">verify_state</if>
            <if test="state != null">state,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="platformApprovedTime != null">platform_approved_time,</if>
            <if test="agentApprovedTime != null">agent_approved_time,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="systemPrice != null">#{systemPrice},</if>
            <if test="settleTime != null">#{settleTime},</if>
            <if test="verifyState != null">#{verifyState},</if>
            <if test="state != null">#{state},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="platformApprovedTime != null">#{platformApprovedTime},</if>
            <if test="agentApprovedTime != null">#{agentApprovedTime},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCtAgentCommissionSettlement" parameterType="CtAgentCommissionSettlement">
        update ct_agent_commission_settlement
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="verifyState != null  and verifyState != ''">verify_state = #{verifyState},</if>
            <if test="state != null">state = #{state},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="platformApprovedTime != null">platform_approved_time = #{platformApprovedTime},</if>
            <if test="agentApprovedTime != null">agent_approved_time = #{agentApprovedTime},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtAgentCommissionSettlementById" parameterType="String">
        update ct_agent_commission_settlement
        set del_flag = '1'
        where id = #{id}
    </delete>

    <delete id="deleteCtAgentCommissionSettlementByIds" parameterType="String">
        update ct_agent_commission_settlement
        set del_flag = '1'
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
