<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.agent.mapper.CtAgentDividendMapper">
    <sql id="selectCtAgentDividendVo">
        select *
        from ct_agent_dividend
    </sql>

    <select id="selectCtAgentDividendList" parameterType="CtAgentDividend" resultMap="CtAgentDividendResult">
        <include refid="selectCtAgentDividendVo"/>
        <where>
            <if test="userId != null  and userId != ''">and user_id = #{userId}</if>
            and del_flag = '0'
        </where>
    </select>


    <select id="selectCtAgentDividendListPlus" parameterType="CtAgentDividendDto" resultType="CtAgentDividendDto">
        SELECT
        ad.*,
        u.account as user_account
        FROM
        ct_agent_dividend ad
        LEFT JOIN ct_user u on u.id = ad.user_id
        <where>
            <if test="userId != null  and userId != ''">and ad.user_id = #{userId}</if>
            <if test="userAccount != null  and userAccount != ''">and u.account = #{userAccount}</if>
            and ad.del_flag = '0'
        </where>
    </select>


    <select id="selectCtAgentDividendById" parameterType="String" resultMap="CtAgentDividendResult">
        <include refid="selectCtAgentDividendVo"/>
        where id = #{id}
    </select>

    <insert id="insertCtAgentDividend" parameterType="CtAgentDividend">
        insert into ct_agent_dividend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="billAmount != null">bill_amount,</if>
            <if test="dividendRatio != null">dividend_ratio,</if>
            <if test="taxRatio != null">tax_ratio,</if>
            <if test="operator != null">operator,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createDate != null">create_date,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="billAmount != null">#{billAmount},</if>
            <if test="dividendRatio != null">#{dividendRatio},</if>
            <if test="taxRatio != null">#{taxRatio},</if>
            <if test="operator != null">#{operator},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCtAgentDividend" parameterType="CtAgentDividend">
        update ct_agent_dividend
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="billAmount != null">bill_amount = #{billAmount},</if>
            <if test="dividendRatio != null">dividend_ratio = #{dividendRatio},</if>
            <if test="taxRatio != null">tax_ratio = #{taxRatio},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtAgentDividendById" parameterType="String">
        update ct_agent_dividend
        set del_flag = '1'
        where id = #{id}
    </delete>

    <delete id="deleteCtAgentDividendByIds" parameterType="String">
        update ct_agent_dividend
        set del_flag = '1'
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
