<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.agent.mapper.CtAgentActivityMapper">
    <sql id="selectCtAgentActivityVo">
        select * from ct_agent_activity
    </sql>

    <select id="selectCtAgentActivityList" parameterType="CtAgentActivity" resultMap="CtAgentActivityResult">
        <include refid="selectCtAgentActivityVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="activityType != null  and activityType != ''"> and activity_type = #{activityType}</if>
            <if test="isEnabled != null  and isEnabled != ''"> and is_enabled = #{isEnabled}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectCtAgentActivityById" parameterType="String" resultMap="CtAgentActivityResult">
        <include refid="selectCtAgentActivityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCtAgentActivity" parameterType="CtAgentActivity">
        insert into ct_agent_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="activityType != null and activityType != ''">activity_type,</if>
            <if test="isEnabled != null and isEnabled != ''">is_enabled,</if>
            <if test="state != null and state != ''">state,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="activityType != null and activityType != ''">#{activityType},</if>
            <if test="isEnabled != null and isEnabled != ''">#{isEnabled},</if>
            <if test="state != null and state != ''">#{state},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCtAgentActivity" parameterType="CtAgentActivity">
        update ct_agent_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="activityType != null and activityType != ''">activity_type = #{activityType},</if>
            <if test="isEnabled != null and isEnabled != ''">is_enabled = #{isEnabled},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtAgentActivityById" parameterType="String">
        delete from ct_agent_activity where id = #{id}
    </delete>

    <delete id="deleteCtAgentActivityByIds" parameterType="String">
        delete from ct_agent_activity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>