<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.hardwaredevice.mapper.CtDeviceDoorMapper">

    <sql id="selectCtDeviceDoorVo">
        select id,
               door_no,
               access_password,
               create_time,
               update_time,
               del_flag,
               device_id,
               door_desc
        from ct_device_door
    </sql>

    <select id="selectCtDeviceDoorList" parameterType="CtDeviceDoor" resultType="CtDeviceDoor">
        <include refid="selectCtDeviceDoorVo"/>
        <where>
            <if test="doorNo != null ">and door_no = #{doorNo}</if>
            <if test="accessPassword != null  and accessPassword != ''">and access_password = #{accessPassword}</if>
        </where>
    </select>

    <select id="selectCtDeviceDoorListByStoreId" parameterType="CtDevice" resultType="CtDeviceDoor">
        select
        dd.id,
        dd.door_no,
        dd.device_id,
        dd.door_desc,
        dd.access_password,
        dd.create_time,
        dd.update_time,
        dd.del_flag,
        d.device_serial
        from ct_device d
        left join ct_device_door dd
        on d.id=dd.id
        <where>
            and d.store_id = #{storeId}
            and d.device_type = #{deviceType}
            and d.del_flag = #{delFlag}
        </where>
    </select>

    <select id="selectCtDeviceDoorById" parameterType="String" resultType="CtDeviceDoor">
        <include refid="selectCtDeviceDoorVo"/>
        where id = #{id}
    </select>

    <insert id="insertCtDeviceDoor" parameterType="CtDeviceDoor">
        insert into ct_device_door
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="doorNo != null">door_no,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="doorDesc != null">door_desc,</if>
            <if test="accessPassword != null">access_password,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="doorNo != null">#{doorNo},</if>
            <if test="accessPassword != null">#{accessPassword},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="doorDesc != null">#{doorDesc},</if>
        </trim>
    </insert>

    <update id="updateCtDeviceDoor" parameterType="CtDeviceDoor">
        update ct_device_door
        <trim prefix="SET" suffixOverrides=",">
            <if test="doorNo != null">door_no = #{doorNo},</if>
            <if test="accessPassword != null">access_password = #{accessPassword},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="doorDesc != null">door_desc = #{doorDesc},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtDeviceDoorById" parameterType="String">
        delete
        from ct_device_door
        where id = #{id}
    </delete>

    <delete id="deleteCtDeviceDoorByIds" parameterType="String">
        delete from ct_device_door where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>