<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.hardwaredevice.mapper.CtDeviceMapper">

    <sql id="selectCtDeviceVo">
        select id,
               name,
               store_id,
               device_code,
               device_type,
               device_model,
               brand_name,
               device_serial,
               device_area,
               validate_code,
               device_channel,
               device_ascription,
               state,
               last_online_time,
               last_offline_time,
               remark,
               create_time,
               update_time,
               del_flag,
               is_activated,
               login_type
        from ct_device
    </sql>

    <select id="selectCtDeviceList" parameterType="CtDevice" resultType="CtDevice">
        <include refid="selectCtDeviceVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="storeId != null  and storeId != ''">and store_id = #{storeId}</if>
            <if test="deviceCode != null  and deviceCode != ''">and device_code = #{deviceCode}</if>
            <if test="deviceType != null  and deviceType != ''">and device_type = #{deviceType}</if>
            <if test="deviceModel != null  and deviceModel != ''">and device_model = #{deviceModel}</if>
            <if test="brandName != null  and brandName != ''">and brand_name like concat('%', #{brandName}, '%')</if>
            <if test="deviceSerial != null  and deviceSerial != ''">and device_serial = #{deviceSerial}</if>
            <if test="deviceArea != null  and deviceArea != ''">and device_area = #{deviceArea}</if>
            <if test="validateCode != null  and validateCode != ''">and validate_code = #{validateCode}</if>
            <if test="deviceChannel != null  and deviceChannel != ''">and device_channel = #{deviceChannel}</if>
            <if test="deviceAscription != null  and deviceAscription != ''">and device_ascription =
                #{deviceAscription}
            </if>
            <if test="state != null  and state != ''">and state = #{state}</if>
            <if test="lastOnlineTime != null ">and last_online_time = #{lastOnlineTime}</if>
            <if test="lastOfflineTime != null ">and last_offline_time = #{lastOfflineTime}</if>
            <if test="loginType != null ">and login_type = #{loginType}</if>
        </where>
    </select>

    <select id="selectCtDeviceById" parameterType="String" resultType="CtDevice">
        <include refid="selectCtDeviceVo"/>
        where id = #{id}
    </select>

    <select id="selectCtDeviceByDeviceSerial" parameterType="String" resultType="CtDevice">
        <include refid="selectCtDeviceVo"/>
        where device_serial = #{deviceSerial}
    </select>

    <insert id="insertCtDevice" parameterType="CtDevice">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select uuid() from dual
        </selectKey>
        insert into ct_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null">name,</if>
            <if test="storeId != null">store_id,</if>
            <if test="deviceCode != null">device_code,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="deviceModel != null">device_model,</if>
            <if test="brandName != null">brand_name,</if>
            <if test="deviceSerial != null">device_serial,</if>
            <if test="deviceArea != null">device_area,</if>
            <if test="validateCode != null">validate_code,</if>
            <if test="deviceChannel != null">device_channel,</if>
            <if test="deviceAscription != null">device_ascription,</if>
            <if test="state != null">state,</if>
            <if test="lastOnlineTime != null">last_online_time,</if>
            <if test="lastOfflineTime != null">last_offline_time,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="loginType != null ">login_type,</if>
            <if test="isActivated != null ">is_activated,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="name != null">#{name},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="deviceCode != null">#{deviceCode},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="deviceModel != null">#{deviceModel},</if>
            <if test="brandName != null">#{brandName},</if>
            <if test="deviceSerial != null">#{deviceSerial},</if>
            <if test="deviceArea != null">#{deviceArea},</if>
            <if test="validateCode != null">#{validateCode},</if>
            <if test="deviceChannel != null">#{deviceChannel},</if>
            <if test="deviceAscription != null">#{deviceAscription},</if>
            <if test="state != null">#{state},</if>
            <if test="lastOnlineTime != null">#{lastOnlineTime},</if>
            <if test="lastOfflineTime != null">#{lastOfflineTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="loginType != null ">#{loginType},</if>
            <if test="isActivated != null ">#{isActivated},</if>
        </trim>
    </insert>

    <update id="updateCtDevice" parameterType="CtDevice">
        update ct_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="deviceCode != null">device_code = #{deviceCode},</if>
            <if test="deviceType != null">device_type = #{deviceType},</if>
            <if test="deviceModel != null">device_model = #{deviceModel},</if>
            <if test="brandName != null">brand_name = #{brandName},</if>
            <if test="deviceSerial != null">device_serial = #{deviceSerial},</if>
            <if test="deviceArea != null">device_area = #{deviceArea},</if>
            <if test="validateCode != null">validate_code = #{validateCode},</if>
            <if test="deviceChannel != null">device_channel = #{deviceChannel},</if>
            <if test="deviceAscription != null">device_ascription = #{deviceAscription},</if>
            <if test="state != null">state = #{state},</if>
            <if test="lastOnlineTime != null">last_online_time = #{lastOnlineTime},</if>
            <if test="lastOfflineTime != null">last_offline_time = #{lastOfflineTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="loginType != null ">login_type = #{loginType},</if>
            <if test="isActivated != null ">is_activated = #{isActivated},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtDeviceById" parameterType="String">
        delete
        from ct_device
        where id = #{id}
    </delete>

    <delete id="deleteCtDeviceByIds" parameterType="String">
        delete from ct_device where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDeviceNumGroupByStore"  resultType="CtDeviceNum">
        select
        store_id,
        count(1) total,
        count(case when state = '0' then 1 end) online,
        count(case when state != '0' then 1 end) offline
        from
        ct_device d
        where
        del_flag = 0
        and store_id is not null
        group by
        store_id
    </select>
</mapper>