<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudtimes.hardwaredevice.mapper.CtOpenDoorLogsMapper">

    <sql id="selectCtOpenDoorLogsVo">
        select id,
               store_id,
               device_id,
               member_id,
               opt_channel,
               opt_type,
               state,
               remark,
               create_time,
               update_time,
               del_flag, date
        from ct_open_door_logs
    </sql>

    <select id="selectCtOpenDoorLogsList" parameterType="CtOpenDoorLogs" resultType="CtOpenDoorLogs">
        <include refid="selectCtOpenDoorLogsVo"/>
        <where>
            <if test="storeId != null  and storeId != ''">and store_id = #{storeId}</if>
            <if test="deviceId != null  and deviceId != ''">and device_id = #{deviceId}</if>
            <if test="memberId != null  and memberId != ''">and member_id = #{memberId}</if>
            <if test="optChannel != null  and optChannel != ''">and opt_channel = #{optChannel}</if>
            <if test="optType != null  and optType != ''">and opt_type = #{optType}</if>
            <if test="state != null  and state != ''">and state = #{state}</if>
            <if test="date != null ">and date = #{date}</if>
        </where>
    </select>

    <select id="selectLatestOpenDoorLogByStore" resultType="CtOpenDoorLogs">
        <include refid="selectCtOpenDoorLogsVo"/>
        where  store_id = #{storeId}
        and opt_type = #{optType}
        and state = '0'
        order by create_time desc
        limit 1
    </select>

    <select id="selectCtOpenDoorLogsById" parameterType="String" resultType="CtOpenDoorLogs">
        <include refid="selectCtOpenDoorLogsVo"/>
        where id = #{id}
    </select>

    <insert id="insertCtOpenDoorLogs" parameterType="CtOpenDoorLogs">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select uuid() from dual
        </selectKey>
        insert into ct_open_door_logs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="storeId != null">store_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="optChannel != null">opt_channel,</if>
            <if test="optType != null">opt_type,</if>
            <if test="state != null">state,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="date != null">date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="storeId != null">#{storeId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="optChannel != null">#{optChannel},</if>
            <if test="optType != null">#{optType},</if>
            <if test="state != null">#{state},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="date != null">#{date},</if>
        </trim>
    </insert>

    <update id="updateCtOpenDoorLogs" parameterType="CtOpenDoorLogs">
        update ct_open_door_logs
        <trim prefix="SET" suffixOverrides=",">
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="optChannel != null">opt_channel = #{optChannel},</if>
            <if test="optType != null">opt_type = #{optType},</if>
            <if test="state != null">state = #{state},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="date != null">date = #{date},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCtOpenDoorLogsById" parameterType="String">
        delete
        from ct_open_door_logs
        where id = #{id}
    </delete>

    <delete id="deleteCtOpenDoorLogsByIds" parameterType="String">
        delete from ct_open_door_logs where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>